<h1 id="tableLabel">Manage Categories</h1>

<p *ngIf="!categories"><em>
        <app-loading></app-loading>
    </em></p>

<form action=""></form>
<form (ngSubmit)="addItem($event)">
    <label for="itemName">Name :</label>
    <input name="itemName">
    <br>
    <input type="submit" value="Add item">

</form>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="categories">
    <thead>
        <tr>
            <th>ID</th>
            <th>name</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of categories">
            <!-- <tr my-tr></tr> -->    
            <!-- <td>va</td>
            <td></td> -->
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
            <td></td>
            <td><button class="btn btn-primary" (click)="edit(category.id)">Edit</button></td>
            <td><button class="btn btn-primary" (click)="delete(category.id)">Delete</button></td>
            <!-- <app-table-raw [elements]='category' (testOutput)="onButtonClick($event)"></app-table-raw> -->
        </tr>
    </tbody>
</table>

<app-item [testInput]="testValue" (testOutput)="onButtonClick($event)"></app-item>
