<!-- <p>item-list workssss!</p> -->
<h1 id="tableLabel">All items</h1>

<!-- <p>This component demonstrates fetching data from the server.</p> -->

<p *ngIf="!items"><em>Loading...</em></p>

<button class="btn btn-primary" (click)="add()" *ngIf="items">+</button>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="items">
  <thead>
    <tr>
      <th>ID</th>
      <th>name</th>
      <th>quantity</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <!-- <tr>
      <td>toto</td>
      <td></td>
      <td></td>
      <td></td>
      <td><button class="btn btn-primary" (click)="">Add</button></td>
    </tr> -->
  <tbody>
    <tr *ngFor="let item of items">
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.quantity }}</td>
      <td><button class="btn btn-primary" (click)="edit(item.id)">Edit</button></td>
      <td><button class="btn btn-primary" (click)="delete(item.id)">Delete</button></td>
    </tr>
  </tbody>
</table>
